<%- include('partials/header.ejs') %>

    <!-- <div>
        <h1><//%- title; %> </h1>
        <p>I am looking for a new <//%- apply; %> </p>
    </div> -->

    <div class="container mt-50 main-card">
        <% users.forEach((user) => { %>
            <div class="card p-2 cards-t">
                <div class="text-center">
                    <img class="user-img" src="https://robohash.org/<%- user.id; %>?200x200" alt="">
                </div>
                <h1 class="text-center"><%- user.name; %></h1>
                <p class="text-center"><%- user.email; %></p>
                <p class="text-center"><%- user.phone; %></p>
            </div>
    <% }) %> 
</body>
</html>